<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
  <div class="text-center">
    <h1>Order Details</h1>
    <h3>Order by <%= current_user.email %></h3>
    <h3>Address <%= current_user.address %></h3>
    <h3>Contact <%= current_user.contact %></h3>
    <br>
    <p>Your Order is Confirm </p>
    <h2>Thank Tou</h2>

   <div>
</div>

    
</body>
</html>
