
<div class="container mt-5">
  <h1 class="text-center mb-4">Categories</h1>
  
  <div class="row justify-content-center">
    <% @categories.each do |category| %>
      <div class="col-md-3 mb-4">
        <div class="card text-center">
          <%= image_tag(category.picture.url, class: "card-img-top", height: "200", alt: category.category_name) if category.picture.present? %>
          <div class="card-body">
            <h3 class="card-title"><%= link_to category.category_name, category_subcategories_path(category) %></h3>
            
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

